<form>
     <div id="seating-chart-<%= comp.id %>"
          class="v-plugin v-input v-seating_chart"
          style="height: 100%;"
          data-plugin-callback='GeotixSeatingChart'
          data-seating-options='<%= h expand_hash(comp.chart_options).to_json%>'
          data-pricing='<%= comp.pricing.to_json %>'
          <%= erb :"components/event", :locals => {comp: comp, events: comp.events, parent_id: comp.event_parent_id} %>></div>
</form>

