<div id="seating-designer-<%= comp.id %>"
     class="v-plugin v-seating_designer"
     style="height: 100%;"
     data-plugin-callback='GeotixSeatingDesigner'
     data-designer-options='<%= h expand_hash(comp.chart_options).to_json%>'></div>