<div id="event-manager-<%= comp.mode %>"
     class="v-plugin v-event_manager"
     style="height: 100%"
     data-plugin-callback='GeotixEventManager'
     data-manager-options='<%= h expand_hash(comp.chart_options).to_json%>'></div>